/* -------------genarel styling------------- */

.title {
  text-align: center;
  margin-bottom: 50px;
}

.title h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-secondary);
  display: inline-block;
}

.title span {
  color: var(--text-primary);
}

.title h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--bg-secondary);
  position: absolute;
  left: 0;
  bottom: -5px;
}

/* -------------genarel styling End-------------*/

.topbar {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.topbar .row {
  margin: 0px;
}

.topbar__content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.option__list {
  margin-left: auto;
}

.option__link {
  /* padding: 6px 12px; */
  padding-right: 8px;
  display: inline-block;
}

.option__text {
  display: none;
}

.option__item {
  float: left;
  display: flex;
  margin-left: 15px;
  font-weight: bold;
  align-items: center;
  font-size: 14px;
  /* border: 2px solid #ddd; */
  /* border-left-color: var(--bg-primary); */
}

.option__icon {
  font-size: 20px;
  margin-right: 10px;
}

.option__link__icon {
  padding: 4px 4px 4px 12px;
  display: inline-block;
  color: var(--text-primary);
}

/* ---------------------------------------------- */

.header {
  top: 0;
  left: 0;
  z-index: 9;
  padding: 15px 0;
}

.header nav {
  width: 100%;
  display: none;
  padding: 15px 0 0 0;
}

.header-site__logo {
  max-width: 70%;
}

.header .row {
  align-items: center;
  margin: 0px;
}

.header .nav-item {
  display: flex;
  margin: 10px 0;
  width: 100%;
}

.header .nav-item:last-child .nav-link {
  color: var(--text-white);
  text-transform: uppercase;
  background-color: var(--bg-primary);
}

.header .nav-link {
  float: left;
  font-size: 18px;
  padding: 12px 20px;
  color: var(--text-secondary);
  font-weight: bold;
  text-transform: capitalize;
}

.header .active .nav-link {
  color: var(--text-primary);
}

.header .toggler {
  cursor: pointer;
  float: right;
  margin-left: auto;
}

/* ---------------------------------------------- */

.home-banner__item {
  padding: 100px 0;
  display: flex;
}

.home-banner__content {
  padding: 0 15px;
  max-width: 1200px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}

.home-banner__title {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
}

.home-banner__span {
  font-weight: bold;
}

.home-banner__btn {
  color: #fff;
  margin-top: 40px;
  font-size: 20px;
  padding: 20px 40px;
  font-weight: bold;
  background: transparent;
  border: 2px solid #fff;
  transition: background 0.5s ease-in-out;
}

.home-banner__btn:hover {
  border-color: var(--bg-primary);
  background: var(--bg-primary);
}

/* slide animation */

.owl-item.active h1 {
  -webkit-animation-duration: 1.2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.owl-item.active .btn {
  -webkit-animation-duration: 1.2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}

@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}

/* ---------------------------------------------- */

.home-why-studio {
  padding: 80px 0;
  background: #fff;
}

.why-studio__item {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.why-studio__icon {
  --measurement: 100px;
  display: flex;
  padding: 10px;
  width: var(--measurement);
  height: var(--measurement);
  border: 2px solid var(--bg-primary);
  border-radius: 50%;
}

.why-studio__img {
  margin: auto;
}

.why-studio__content {
  margin-left: 15px;
  width: calc(100% - 115px);
}

.why-studio__title {
  margin: 0;
  color: var(--text-secondary);
}

/* ---------------------------------------------- */
.home-what-we-do {
  padding: 80px 0;
  background: #f9f9f9;
}

.what-we-do__title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.what-we-do__title__h2 {
  margin: 0;
  font-weight: bold;
  color: var(--text-secondary);
  text-transform: uppercase;
}

.home-what-we-do .row:not(:last-child) {
  margin-bottom: 60px;
}

.what-we-do__image {
  margin-bottom: 40px;
}

.what-we-do__icon {
  margin-right: 30px;
}

.what-we-do__title__p {
  line-height: 1.7;
  color: var(--text-secondary);
}

.what-we-do__content__btn {
  color: var(--text-secondary);
  font-weight: bold;
  display: inline-block;
  padding: 12px 24px;
  text-transform: uppercase;
  border: 1px solid currentColor;
  margin-top: 20px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.what-we-do__content__btn:hover {
  color: var(--text-white);
  background: var(--bg-secondary);
}

/* ---------------------------------------------- */

.home-your-dream {
  padding: 80px 0;
}

/* ---------------------------------------------- */

.home-how-to-say {
  padding: 80px 0;
}

.how-to-say__item {
  color: var(--text-secondary);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 #ddd;
  transition: box-shadow 0.5s ease-in-out;
  margin-bottom: 40px;
}

.how-to-say__item:hover {
  box-shadow: 0 0 20px 0 #999;
}

.how-to-say__item__pera {
  text-align: left;
  margin-bottom: 20px;
}

.how-to-say__image {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.how-to-say__image__img {
  border-radius: 10px 10px 0 0;
}

.how-to-say__item__list-item {
  margin-bottom: 5px;
  font-weight: bold;
}

.how-to-say__content {
  padding: 20px;
}

/* ---------------------------------------------- */
.home-design-trends {
  padding: 80px 0;
  background: #f9f9f9;
}

.design-trends__item {
  color: var(--text-secondary);
  box-shadow: 0 0 5px 0 #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.5s ease-in-out;
  margin-bottom: 40px;
}

.design-trends__item:hover {
  box-shadow: 0 0 20px 0 #999;
}

.design-trends__content {
  padding: 20px;
}

.design-trends__item__pera {
  margin-bottom: 15px;
}

.design-trends__image {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.design-trends__image__img {
  border-radius: 10px 10px 0 0;
}

.design-trends__content__span {
  margin-top: 20px;
  display: block;
  margin-bottom: 10px;
  font-style: italic;
}

/* ---------------------------------------------- */

.footer {
  padding: 80px 0;
  background: var(--bg-secondary);
}

.footer-top {
  margin-bottom: 40px;
}

.socialmedia__item:not(:last-child) {
  float: left;
  margin-right: 18px;
  transition: color 0.5s ease-in-out;
}

.socialmedia__link {
  color: #fff;
  font-size: 25px;
}

.socialmedia__link:hover {
  color: var(--text-primary);
}

/* ------------- */

.footer-services:first-child {
  width: 60%;
}

.footer-services {
  margin-top: 40px;
  width: 40%;
  float: left;
}

.footer-list__title {
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.footer-list__item {
  margin-bottom: 12px;
}

.footer-list__link {
  color: #f4f4f4;
  text-transform: capitalize;
  transition: color 0.5s ease-in-out;
}

.footer-list__link:hover {
  color: var(--bg-primary);
}

/* ----tag---- */

.footer-tag {
  width: 100%;
  float: left;
  margin-top: 20px;
  display: flex;
}

.footer-tag__list {
  display: flex;
  flex-wrap: wrap;
}

.footer-tag__item {
  margin-bottom: 10px;
  margin-right: 7px;
  float: left;
  display: inline-flex;
}

.footer-tag__link {
  color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #fff;
  text-transform: uppercase;
  transition: background 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.footer-tag__link:hover {
  background: var(--bg-primary);
  border-color: var(--bg-primary);
}

/* talk to a designer */

.talk-to-designer {
  padding: 30px;
  margin-top: 40px;
  background: #fff;
}

.talk-to-designer__title {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--text-secondary);
}

.talk-to-designer__btn {
  width: 100%;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--bg-secondary);
  border-color: var(--bg-secondary);
}

.talk-to-designer__span {
  color: #333;
}

.talk-to-designer__link {
  color: red;
}
