:root {
  --bg-light: #f7f7f7;
  --text-dark: #333333;

  --bg-dark: #333333;
  --text-light: #f7f7f7;

  --bg-white: #ffffff;
  --text-white: #ffffff;

  --bg-primary: #e19d0b;
  --text-primary: #e19d0b;

  --bg-secondary: #223970;
  --text-secondary: #223970;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

a {
  color: #333333;
}

a,
a:hover {
  text-decoration: none;
}

select:focus,
button:focus,
textarea:focus,
input:focus {
  outline: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
}

header,
main,
section,
footer,
iframe,
.block {
  width: 100%;
  float: left;
}

iframe {
  height: 100%;
}

/* --------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 500;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.fwb,
b {
  font-weight: bold !important;
}

.fwr {
  font-weight: 400;
}

/* --------------------------------- */

ul,
ol {
  padding: 0;
  margin: 0px;
  list-style: none;
}

.arrow-down {
  width: 10px;
  height: 10px;
  bottom: 14px;
  position: absolute;
  right: 8px;
  background: url("../images/down-arrow.png") no-repeat;
  background-position-x: 99%;
  background-position-y: 50%;
  background-size: 0.65em auto, 100%;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  width: max-content;
  background: #fff;
  display: none;
  position: absolute;
  z-index: 999;
  left: auto;
  right: 0;
  top: 100%;
  overflow: hidden;
  border: 1px solid #f7f7f7;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 0;
  width: 100%;
  display: block;
  padding: 8px 18px;
  text-transform: capitalize;
  transition: background 0.4s ease-in-out;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -ms-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
}

.dropdown-menu li .sub-link {
  display: block;
  font-size: 15px;
  position: relative;
}

.dropdown-menu li:hover {
  background: #f1f1f1;
}

.dropdown-menu li .sub-link:hover {
  color: var(--text-primary);
}

/* --------------------------------- */

img,
.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

select {
  color: inherit;
  padding: 0 10px;
}

select {
  background: url("../images/down-arrow.png") no-repeat;
  background-position-x: 99%;
  background-position-y: 50%;
  background-size: 0.65em auto, 100%;
}

textarea {
  min-height: 150px;
  padding-top: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  margin-bottom: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

/* --------------------------------- */

.p-0 {
  padding: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

/* --------------------------------- */

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid #999;
  background: #f1f1f1;
  padding: 8px 34px;
  border-radius: 0;
  position: relative;
  cursor: pointer;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  color: var(--text-white);
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
}

.btn-outline {
  color: #333;
  background: #fff;
}

/* --------------------------------- */

.inline-block {
  display: inline-block;
  width: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

/* --------------------------------- */

.text-dark {
  color: var(--text-dark) !important;
}

.text-light {
  color: var(--text-light) !important;
}

.text-white {
  color: var(--text-white) !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

/* --------------------------------- */

.bg-dark {
  background-color: var(--bg-dark) !important;
}

.bg-light {
  background-color: var(--bg-light) !important;
}

.bg-white {
  background-color: var(--bg-white) !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

/* --------------------------------- */

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

/* --------------------------------- */

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

/* --------------------------------- */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col,
.col-12,
[class*="col-"] {
  width: 100%;
  padding: 0 15px;
}

/* --------------------------------- */
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.33%;
}
.col-3 {
  width: 25%;
}

@media (min-width: 577px) {
  .container {
    max-width: 540px;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-3 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col-xl-6 {
    width: 50%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-3 {
    width: 25%;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1340px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.no-padding > .col,
.no-padding > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
