@media (min-width: 577px) {
}

@media (min-width: 767px) {
  .header-site__logo {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .home-what-we-do .row:nth-child(even) {
    flex-direction: row-reverse;
  }
  .home-what-we-do .row:nth-child(odd) .what-we-do__image {
    padding-right: 20px;
  }
  .option__text {
    display: block;
  }

  .option__item {
    margin-left: 25px;
  }

  .footer-services,
  .talk-to-designer {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .toggler {
    display: none;
  }
  .header nav {
    display: inline-block !important;
    position: relative;
    width: auto;
    padding: 0;
  }
  .header .nav-item {
    float: left;
    margin: 0px;
    width: auto;
  }
  .header .nav-link {
    padding: 12px 30px;
  }

  .how-to-say__item,
  .design-trends__item,
  .what-we-do__image {
    margin-bottom: 0px;
  }
  .home-banner__item {
    padding: 200px 0;
  }
  .home-banner__title {
    font-size: 60px;
  }
}

@media (min-width: 1440px) {
  .home-banner__item {
    padding: 300px 0;
  }
  .home-banner__title {
    font-size: 80px;
  }
}

@media (min-width: 1680px) {
}

/*--------------------sceer max width-------------------------*/

@media (max-width: 767px) {
}
